
<br><br><br>
<!-- <pre style="font-family: sans-serif; font-weight: bold; "><h3>          Total Instruments for Each Client</h3></pre> -->

<div class="container">
    <div class="row">
<ngx-charts-bar-vertical-2d
[view]="view"
[scheme]="colorScheme"
[results]="clientdata"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[legendTitle]="legendTitle"

>
</ngx-charts-bar-vertical-2d>
</div>
</div>
<div class="container offset-3">
    <h3><b>Total Instruments for each Client</b></h3>
</div>