.footer {
    /* background-color:black; */
    background-color: rgb(0, 132, 255);
    margin:0px auto;
    padding: 20px 0px;
    
}
.container1{
    background-image: url('https://wallpaperaccess.com/full/3560941.png');
    background-attachment: fixed; 
  background-size: 100% 100%;
}